.catalog__items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}          
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.info__container{
    display: flex;
    flex-direction: row;
}
.info__container.small{
    flex-direction: column;
    align-items: flex-start;
    
    margin: 10px;

}