.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 700px;
}
.change_count_container{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
    
}
.button{
    width: 10%;
    height: 10%;
   
}
.count{
    padding: 10px;
    font-size: 16px;
}
.remove_button{
    width: 30%;

}
.item_name{
    padding: 25px;
}